.slider#slider
		.slider__desk
			.slider__desk__wrap
				each item in items
					.desk__content
						h3.title.title--extra.title--slider!= item.name
						.slider__skills!= item.tech
						.button
							a(href=item.link title="Посмотреть сайт").button__item
								i.button__ico.i-link
								|Посмотреть сайт
		.slider__content
			.slider__view
				ul.slider__list
					each item in items 
						div.slider__item
							.slider__img-wrap
								img(src=item.pictures[0], alt=item.name, title=item.name).slider__img
		.slider__controll
			.slider__button
				.slider__up.slider__list-container
				a(href="#" title="Следующий слайд").slider__ico.i-arrow-down
			.slider__button
				.slider__down.slider__list-container
				a(href="#" title="Предыдущий слайд").slider__ico.i-arrow-up






















//- .slider#slider
//- 		.slider__desk
//- 			.slider__desk__wrap
//- 				.desk__content.active__desk__content
//- 					h3.title.title--extra.title--slider.
//- 						Сайт Школы Онлайн Образования
//- 					ul.slider__skills
//- 						li.slider__skills__item HTML
//- 						li.slider__skills__item CSS
//- 						li.slider__skills__item Javascript
//- 					.button
//- 						a(href="#" title="Посмотреть сайт").button__item
//- 							i.button__ico.i-link
//- 							|Посмотреть сайт
//- 				.desk__content
//- 					h3.title.title--extra.title--slider.
//- 						Сайт Номер 2
//- 					ul.slider__skills
//- 						li.slider__skills__item HTML
//- 						li.slider__skills__item CSS
//- 						li.slider__skills__item Javascript
//- 						li.slider__skills__item nodeJs
//- 					.button
//- 						a(href="#" title="Посмотреть сайт").button__item
//- 							i.button__ico.i-link
//- 							|Посмотреть сайт
//- 				.desk__content
//- 					h3.title.title--extra.title--slider.
//- 						Сайт Номер 3
//- 					ul.slider__skills
//- 						li.slider__skills__item HTML
//- 						li.slider__skills__item CSS
//- 					.button
//- 						a(href="#" title="Посмотреть сайт").button__item
//- 							i.button__ico.i-link
//- 							|Посмотреть сайт
//- 				.desk__content
//- 					h3.title.title--extra.title--slider.
//- 						Сайт Номер 4
//- 					ul.slider__skills
//- 						li.slider__skills__item HTML
//- 						li.slider__skills__item CSS
//- 						li.slider__skills__item gulp
//- 					.button
//- 						a(href="#" title="Посмотреть сайт").button__item
//- 							i.button__ico.i-link
//- 							|Посмотреть сайт
//- 		.slider__content
//- 			.slider__view
//- 				ul.slider__list
//- 					div.slider__item.slider__active
//- 						.slider__img-wrap
//- 							img(src="img/slider-item-4.png", alt="Первая работа", title="Первая работа").slider__img
//- 					div.slider__item
//- 						.slider__img-wrap
//- 							img(src="img/slider-item-2.png", alt="Вторая работа", title="Вторая работа").slider__img
//- 					div.slider__item
//- 						.slider__img-wrap
//- 							img(src="img/slider-item-3.png", alt="Третья работа", title="Третья работа").slider__img
//- 					div.slider__item
//- 						.slider__img-wrap
//- 							img(src="img/slider-item-1.png", alt="Четвертая работа", title="Четвертая работа").slider__img
//- 		.slider__controll
//- 			.slider__button
//- 				.slider__up.slider__list-container
//- 				a(href="#" title="Следующий слайд").slider__ico.i-arrow-down
//- 			.slider__button
//- 				.slider__down.slider__list-container
//- 				a(href="#" title="Предыдущий слайд").slider__ico.i-arrow-up
						
