//- avatar

mixin avatar(file,alt,title,className)
	-var defaultAlt = "Фото"
	-var defaultTitle = "Фото"
	-var defaultClassName = "avatar"
	-if(alt === undefined)
		- alt = defaultAlt
	-if(title === undefined)
		- title = defaultTitle
	-if(className === undefined)
		- className = defaultClassName
	div(class=className)
		img(src="img/"+file, alt=alt, title=title, class=className + "__img")


//- social

mixin social()
	ul.social
		li.social__item
			a(href="https://vk.com/id19473263" target="_blank" title="VK").social__link
				i.social__icon.i-vkontakte
		li.social__item
			a(href="https://github.com/Eclerrr" target="_blank" title="GitHub").social__link
				i.social__icon.i-github
		li.social__item
			a(href="#" target="_blank" title="LinkedIn").social__link
				i.social__icon.i-linkedin

//- skill
mixin skill(skillName,percent)
	.skill(data-percent=percent)
		svg.skill__wrap(viewbox='0 0 32 32')
			circle.skill__circle(r='16', cx='16', cy='16')
		.skill__inner
			span.skill__text= skillName

//- svg

mixin title-back(imgName,className)
	-var defaultClassName = "title-back__svg"
	-if(className === undefined)
		- className = defaultClassName
	svg(class=className)
		use(xlink:href="img/sprite.svg#" + imgName)